.header{
    
    color: white ;
    
        .nvbar-login button{
            
           @include forBtn($primary-color,$secondary-color);
           
        }
        .nvbar-login button:hover{
            @include forHover($third-color,$primary-color);
        }

        .nvbar{
            background-color: $primary-color !important;
        }
        @media (max-width:600px){
            .nvbar {
                width: 100% !important;
                text-align: center !important;
                display: flex !important;
                flex-direction: column;
                align-items: center;
          
            }
            .nvbar-login button{
                margin: 1em auto !important;
                
            }
          }
        
    }
    
      